# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual environments
# -------------------------
venv/
.env/
.env.*

.conda/
.conda_env/
pkgs/
*.conda

# -------------------------
# VSCode
# -------------------------
.vscode/

# -------------------------
# pre-commit / cache
# -------------------------
.pre-commit-config.yaml   # keep this! DO NOT ignore
.pre-commit/              # cache of installed hooks

# -------------------------
# Pytest / Coverage
# -------------------------
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
pytest_cache/
*.cover
*.log
*.pytest_cache

# -------------------------
# Jupyter Notebooks
# -------------------------
.ipynb_checkpoints

# -------------------------
# OS-specific
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Misc
# -------------------------
*.bak
*.swp

# -------------------------
# Cache and Data
# -------------------------
cache/

temp.*
